<%-include('components/topBar.ejs')%>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
 

        <form action="/login" method="POST">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" class="form-control " placeholder="Email" name="email" />
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" class="form-control" placeholder="Password" name="password" />
            </div>
            <% if(message) { %>
            <!-- Alert -->
          <div class="alert alert-danger" role="alert">
            <%= message%>
          </div>
          <% } %>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Log in</button>

        </form>


</div>

<%-include('components/footer.ejs')%>